# Dependencies
node_modules
.pnp
.pnp.js

# Production artifacts
dist
build
!packages/sdk-js/dist/
!packages/sdk-js/dist/**
packages/sdk-js/dist/tsconfig.tsbuildinfo

# Build cache
.modelence

# Testing
coverage

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
.pnpm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
